#!/usr/bin/make -f

DH_VERBOSE = 1

%:
	dh $@

P4LANG_BUILD_DIR=$(CURDIR)

override_dh_auto_configure:
	./autogen.sh
	./configure --with-pi --disable-elogger --without-nanomsg --prefix=/usr \
	--without-targets --without-thrift "CPPFLAGS=-I$(P4LANG_BUILD_DIR)/targets/simple_switch -DWITH_SIMPLE_SWITCH -isystem/usr/include";

override_dh_auto_build:
	make 
	cd $(P4LANG_BUILD_DIR)/targets/simple_switch && make ;

override_dh_auto_install:
	make DESTDIR=$(P4LANG_BUILD_DIR)/ install
	cd $(P4LANG_BUILD_DIR)/targets/simple_switch && \
		make DESTDIR=$(P4LANG_BUILD_DIR)/ install

