Package: pi-proto-dbgsym
Package-Type: ddeb
Source: pi
Version: 0.8~bionic-7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Frederic LOUI <frederic.loui@renater.fr>
Installed-Size: 121
Depends: pi-proto (= 0.8~bionic-7)
Section: debug
Priority: optional
Description: debug symbols for pi-proto
Build-Ids: 9f292d3413f038c900c37d5c2d3b7b1352ff5f53
